<div>
    <div class="modal-header">
      <h4 class="modal-title" id="add-modal-label">Cancel Appointment</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     Are you sure you want to cancel this appointment?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal" (click)="onClose()">No</button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="cancelAppointment()">
        Yes
      </button>
    </div>
  </div>